@media (min-width: 401px) and (max-width: 800px){

    .img-logo-header{
        width: 170px;
        margin: 15px 20px;
    }

    .main-banner{
        position: absolute;
        right: 3%;
        bottom: 30%;
        transform: translateY(50%);   
    }

    .main-title-banner{
        font-size: 1.4em;
        text-align: right;
    }

    .ruler-bar{
        display: flex;
        flex-wrap: wrap;      
    }

    .ruler-bar-items{
        padding: 20px;
        max-width: 50%;
    }

    .about-info{
        display: flex;
        flex-wrap: wrap;
    }
    .about-info-items{
        max-width: 50%;
    }

    .footer-form{
        margin-top: 10px;
    }
}