.banner{
    width: 100%;
    position: relative;
}

.banner-items{
    width: 100%;
}

.second-title-banner{
    font-size: 1.6;
    padding: 10px;
    margin-top: 7px;
    background: #ffad08;
} 

.ruler-bar-img{
    width: 76px;
    margin-bottom: 10px;
}

.ruler-bar-title{
    margin-bottom: 10px;        
}

.service{
    width: 100%;
    display: flex;
}
.service-info-img{
    width: 76px;
}

.galery{
    width: 100%;
}

.galery-foto-04{
    border: solid 10px #0c8f8f;
}
.about-img{
    width: 100%;
}

.about-info-items{
    padding: 10px;
}


.footer-form-input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 300;
    
}

.footer-form-label{
    color: #fff;
}

.footer-form-textarea{
    max-width: 100%;
    min-width: 100%;
    height: 200px;
}

.footer-form-buttton{
    height: 50px;
}

.dev{
    text-align: center;
    padding-top: 20px;
}

.a-link:hover{
    border-bottom: solid 1px #fff;
}

/* icon whatsapp */
.icon-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
}

.icon-whatsapp-items{
    width: 60px;
    height: 60px;
}

.footer-form-buttton{
    width: 100%;
}